* {
  padding: 0;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/font/JetBrainsMono-Regular.ttf');
}
.code-line {
  font-family: 'JetBrainsMono';
  font-size: 16px;
  line-height: 1.5em;

  color: #ccc;
}
.code-tag {
  color: #569cd6;
}
.code-attr {
  color: #9cdcfe;
}
.code-attr-value {
  color: #9cdcfe;
}
.code-tag-out {
  color: #807867;
}
.code-fun {
  color: #dccd79;
}
.code-style {
  color: #9cdcfe;
}
.code-style-value {
  color: #ce9178;
}
